[user]
    name = koji--
	email = kojiel@gmail.com
[github]
	user = koji_magi
	token = 16d577c6ef8ccfbeda4b29ea6d45c392
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
    tr = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
[color]
	ui = true
[core]
	editor = /usr/bin/vim
